<div>
    <h2 id="page-heading">
        <span jhiTranslate="barbersApp.prenotazione.home.title">Prenotaziones</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prenotazione" [routerLink]="['/prenotazione/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="barbersApp.prenotazione.home.createLabel">
            Create new Prenotazione
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="prenotaziones">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codicePrenotazione"><span jhiTranslate="barbersApp.prenotazione.codicePrenotazione">Codice Prenotazione</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="data"><span jhiTranslate="barbersApp.prenotazione.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span jhiTranslate="barbersApp.prenotazione.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="operatore.codiceOperatore"><span jhiTranslate="barbersApp.prenotazione.operatore">Operatore</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="servizio.codiceServizio"><span jhiTranslate="barbersApp.prenotazione.servizio">Servizio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="negozio.codiceNegozio"><span jhiTranslate="barbersApp.prenotazione.negozio">Negozio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let prenotazione of prenotaziones ;trackBy: trackId">
                <td><a [routerLink]="['/prenotazione', prenotazione.id, 'view' ]">{{prenotazione.id}}</a></td>
                <td>{{prenotazione.codicePrenotazione}}</td>
                <td>{{prenotazione.data | date:'medium'}}</td>
                <td>{{prenotazione.note}}</td>
                <td>
                    <div *ngIf="prenotazione.operatore">
                        <a [routerLink]="['../operatore', prenotazione.operatore?.id, 'view' ]" >{{prenotazione.operatore?.codiceOperatore}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="prenotazione.servizio">
                        <a [routerLink]="['../servizio', prenotazione.servizio?.id, 'view' ]" >{{prenotazione.servizio?.codiceServizio}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="prenotazione.negozio">
                        <a [routerLink]="['../negozio', prenotazione.negozio?.id, 'view' ]" >{{prenotazione.negozio?.codiceNegozio}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/prenotazione', prenotazione.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prenotazione', prenotazione.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'prenotazione/'+ prenotazione.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
