<div>
    <h2 id="page-heading">
        <span jhiTranslate="barbersApp.servizio.home.title">Servizios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-servizio" [routerLink]="['/servizio/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="barbersApp.servizio.home.createLabel">
            Create new Servizio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="servizios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="barbersApp.servizio.codiceServizio">Codice Servizio</span></th>
            <th><span jhiTranslate="barbersApp.servizio.descrizioneServizio">Descrizione Servizio</span></th>
            <th><span jhiTranslate="barbersApp.servizio.durata">Durata</span></th>
            <th><span jhiTranslate="barbersApp.servizio.costo">Costo</span></th>
            <th><span jhiTranslate="barbersApp.servizio.fotoServizio">Foto Servizio</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let servizio of servizios ;trackBy: trackId">
                <td><a [routerLink]="['/servizio', servizio.id, 'view' ]">{{servizio.id}}</a></td>
                <td>{{servizio.codiceServizio}}</td>
                <td>{{servizio.descrizioneServizio}}</td>
                <td>{{servizio.durata}}</td>
                <td>{{servizio.costo}}</td>
                <td>{{servizio.fotoServizio}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/servizio', servizio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/servizio', servizio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'servizio/'+ servizio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
