<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="operatore">
            <h2><span jhiTranslate="barbersApp.operatore.detail.title">Operatore</span> {{operatore.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="barbersApp.operatore.codiceOperatore">Codice Operatore</span></dt>
                <dd>
                    <span>{{operatore.codiceOperatore}}</span>
                </dd>
                <dt><span jhiTranslate="barbersApp.operatore.nome">Nome</span></dt>
                <dd>
                    <span>{{operatore.nome}}</span>
                </dd>
                <dt><span jhiTranslate="barbersApp.operatore.cognome">Cognome</span></dt>
                <dd>
                    <span>{{operatore.cognome}}</span>
                </dd>
                <dt><span jhiTranslate="barbersApp.operatore.note">Note</span></dt>
                <dd>
                    <span>{{operatore.note}}</span>
                </dd>
                <dt><span jhiTranslate="barbersApp.operatore.fotoProfilo">Foto Profilo</span></dt>
                <dd>
                    <span>{{operatore.fotoProfilo}}</span>
                </dd>
                <dt><span jhiTranslate="barbersApp.operatore.negozio">Negozio</span></dt>
                <dd>
                    <span *ngFor="let negozio of operatore.negozios; let last = last">
                        <a [routerLink]="['/negozio', negozio?.id, 'view' ]">{{negozio.codiceNegozio}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/operatore', operatore.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
