<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-operatore-heading" jhiTranslate="barbersApp.operatore.home.createOrEditLabel">Create or edit a Operatore</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!operatore.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="operatore.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barbersApp.operatore.codiceOperatore" for="field_codiceOperatore">Codice Operatore</label>
                    <input type="text" class="form-control" name="codiceOperatore" id="field_codiceOperatore"
                        [(ngModel)]="operatore.codiceOperatore" required/>
                    <div [hidden]="!(editForm.controls.codiceOperatore?.dirty && editForm.controls.codiceOperatore?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codiceOperatore?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barbersApp.operatore.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="operatore.nome" required/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barbersApp.operatore.cognome" for="field_cognome">Cognome</label>
                    <input type="text" class="form-control" name="cognome" id="field_cognome"
                        [(ngModel)]="operatore.cognome" required/>
                    <div [hidden]="!(editForm.controls.cognome?.dirty && editForm.controls.cognome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cognome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barbersApp.operatore.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="operatore.note" required/>
                    <div [hidden]="!(editForm.controls.note?.dirty && editForm.controls.note?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.note?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barbersApp.operatore.fotoProfilo" for="field_fotoProfilo">Foto Profilo</label>
                    <textarea class="form-control" name="fotoProfilo" id="field_fotoProfilo"
                        [(ngModel)]="operatore.fotoProfilo" ></textarea>
                </div>

                <div class="form-group">
                    <label jhiTranslate="barbersApp.operatore.negozio" for="field_negozio">Negozio</label>
                    <select class="form-control" id="field_negozio" multiple name="negozio" [(ngModel)]="operatore.negozios">
                        <option [ngValue]="getSelected(operatore.negozios, negozioOption)" *ngFor="let negozioOption of negozios; trackBy: trackNegozioById">{{negozioOption.codiceNegozio}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
