<div>
    <h2 id="page-heading">
        <span jhiTranslate="barbersApp.operatore.home.title">Operatores</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-operatore" [routerLink]="['/operatore/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="barbersApp.operatore.home.createLabel">
            Create new Operatore
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="operatores">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="barbersApp.operatore.codiceOperatore">Codice Operatore</span></th>
            <th><span jhiTranslate="barbersApp.operatore.nome">Nome</span></th>
            <th><span jhiTranslate="barbersApp.operatore.cognome">Cognome</span></th>
            <th><span jhiTranslate="barbersApp.operatore.note">Note</span></th>
            <th><span jhiTranslate="barbersApp.operatore.fotoProfilo">Foto Profilo</span></th>
            <th><span jhiTranslate="barbersApp.operatore.negozio">Negozio</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let operatore of operatores ;trackBy: trackId">
                <td><a [routerLink]="['/operatore', operatore.id, 'view' ]">{{operatore.id}}</a></td>
                <td>{{operatore.codiceOperatore}}</td>
                <td>{{operatore.nome}}</td>
                <td>{{operatore.cognome}}</td>
                <td>{{operatore.note}}</td>
                <td>{{operatore.fotoProfilo}}</td>
                <td>
                    <span *ngFor="let negozio of operatore.negozios; let last = last">
                            <a class="form-control-static" [routerLink]="['../negozio', negozio?.id, 'view' ]">{{negozio.codiceNegozio}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/operatore', operatore.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/operatore', operatore.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'operatore/'+ operatore.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
